.ProgressiveImage {
  position: relative;
}

.ProgressiveImage-mini,
.ProgressiveImage-img {
  position: absolute;
}

.ProgressiveImage-mini {
  transition: opacity 150ms linear;
  -webkit-filter: blur(2px);
  filter: blur(2px);
}
